# Build artifacts
*.nes
*.bin
*.o
*.lst

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Extracted graphics
misc/*.bin

# Editor files
*.swp
*.swo
*~
.DS_Store
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
/original_roms/*.nes
/DKGFX.bin
/DonkeyKongDisassembly.nes
/misc/DonkeyKong.nes
/donkey_after.nes
/donkey_before.nes
